{% extends 'base.html.twig' %}

{% set pageLayout = 'no-hero subcategory-page' %}

{% block title %}
    Hello CategoryController! Now with SUB Categories!
{% endblock %}

{% block hero %}

{% endblock %}

{% block content %}
    <div class="content">
        <div class="sub-cat">
            {% for sb in category.getSubcategories %}
                <span class="sb-item">
                    <a href={{ path('subcategory', {'slug': category.getSlug, 'sub':sb.getSlug}) }}>
                        {{ sb.getName }}
                    </a>
                </span>
            {% endfor %}
        </div>
        <div class="subcat-title">{{ subcat.getName }}</div>
        <div class="products">
            {% for p in subcat.getProducts %}
                <div class="prod">
                    <a href="{{ path('product', {'slug': p.getSlug}) }}">
                        <img src="https://via.placeholder.com/300/09f/fff.png" />
                        <span class="name">{{ p.getName }}</span>
                    </a>
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
