{% extends 'admin/categories/index.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            <div class="main-card mb-6 card">
                <div class="card-body"><h5 class="card-title">Table bordered</h5>
                    <table class="mb-0 table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Slug</th>
                                <th>Product Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in categories %}
                                <tr>
                                    <th scope="row">{{ c.getId }}</th>
                                    <td><a href="{{ path('admin-sub-categories-edit', {'id': c.getId})}}">{{ c.getName }}</a></td>
                                    <td>{{ c.getSlug }}</td>
                                    <td>{{ c.getProducts|length }}</td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
