<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Indigo - A clean, responsive ecommerce HTML template</title>

    <meta name="description" content="Indigo - A clean, responsive ecommerce HTML template">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app')  }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app')  }}
    {% endblock %}

</head>
<body>
    {% block header %}
        {{ include('includes/header.html.twig') }}
    {% endblock %}
    {% block slider %}
        {{ include('includes/slider.html.twig') }}
    {% endblock %}
    {% block productGrid %}
        {{ include('includes/product-grid.html.twig') }}
    {% endblock %}
    {% block collectionsGrid %}
        {{ include('includes/collections-grid.html.twig') }}
    {% endblock %}
    {% block blogGrid %}
        {{ include('includes/blog-grid.html.twig') }}
    {% endblock %}
    {% block formGrid %}
    {% endblock %}

    {{ include('includes/footer.html.twig') }}
    <!-- start: copyright -->
    <section class="footer-copyright">
        <div class="row max-inner">
            <div class="columns col-7 col-centered">
                <p>Copyright 2023 Selene Software. All rights reserved.</p>
            </div>
        </div>
    </section>
    <!-- end: copyright -->

</body>
</html>
