{% extends 'admin/product/index.html.twig' %}

{% block body %}
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">{{ product.getName|default('New Product') }}</h5>
            {{ form_start(form) }}

            {%- for f in form -%}
            {% if f.vars.name != '_token' %}
                <div class="position-relative row form-group">
                    {{ form_label(f, f.vars.label, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                    <div class="col-sm-10">
                        {% if f.vars.name == 'image' %}
                            {% set formClass = 'form-control-file' %}
                        {% else %}
                            {% set formClass = 'form-control' %}
                        {% endif %}
                        {% if f.vars.name == 'attributes' %}
                        {% else %}
                            {{ form_widget(f, {'attr': {'class': formClass, 'placeholder': f.vars.name}}) }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {%- endfor -%}
            <div class="position-relative row form-check">
                <div class="col-sm-10 offset-sm-2">
                    <button class="btn btn-secondary">Submit</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
